.filters {
    padding: 10px;
}

.filters-grid {
/*    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1rem;
*/
    display: flex;
    flex-direction: column;
}

.filters-grid > div {
    margin-top: 0.25rem;
}

.filters-grid > div:first-child {
    margin-top: 0;
}

.filters label {
    padding: 0;
    margin: 0;
}