
html,
body {
  height: 100%;
}

html {
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
/*
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  color: #000;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4b4b4b;
}
*/

body {
  /*
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  color: #000;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4b4b4b;
  */

  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  color: #000;
  margin: 0;
  /*padding: 0;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #222222;*/
  /*background-color: #858585;*/
  background-color: white;
  /*padding: 0 20px;*/
  /*background: #858585; !* Old browsers *!*/
}

#root {
  /*background-color: #222222;*/
  /*background-color: #707070;*/
  /*padding: 2px;*/
  /*max-width: 1200px;*/
  /*margin: 20px auto;*/
}

body.popup {
  background-color: #fff;
}

.popup #root {
  background-color: white;
}

:focus { outline: none; }

